@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using WebClient.ViewModel

<PageTitle>Dashboard</PageTitle>

<h1 class="text-4xl font-bold">Olá, seja bem vindo</h1>

<p class="text-lg text-zinc-700">Acompanhe todas as suas vendas em tempo real.</p>

@if (_products.Count == 0)
{
    <div class="grid grid-cols-3 gap-4 py-4">
        @for (var i = 1; i <= 3; i++)
        {
            <Skeleton/>
        }
    </div>
}
else
{
    <ul class="grid grid-cols-3 gap-4 py-4">
        @foreach (var product in _products)
        {
            var collaborator = product.Collaborator;

            <li class="flex flex-col space-y-4 p-4 border-2 border-zinc-300 rounded-md">
                <div class="flex justify-between align-center">
                    <p>
                        <strong>Vendedor:</strong> @collaborator.Name
                    </p>
                    <p>
                        <strong>Email:</strong> @collaborator.Email
                    </p>
                </div>
                <div>
                    <strong>Produto:</strong> @product.Name
                </div>
                <div>
                    <strong>Valor:</strong> R$ @product.Price
                </div>
                <div>
                    <strong>Realizada em:</strong> @product.CreatedAt
                </div>
            </li>
        }
    </ul>
}

@code
{
    private HubConnection? _connection;
    private readonly List<ProductViewModel> _products = [];

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7164/products")
            .WithAutomaticReconnect()
            .Build();

        _connection.On<ProductViewModel>(
            "ReceiveProduct",
            product =>
            {
                _products.Add(product);
                InvokeAsync(StateHasChanged);
            });

        await _connection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_connection is not null)
        {
            await _connection.DisposeAsync();
        }
    }
}