@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using WebClient.ViewModel

<PageTitle>Dashboard</PageTitle>

<h1 class="text-4xl font-bold">Olá, seja bem vindo</h1>

<p class="text-lg text-zinc-700">Acompanhe todas as suas vendas em tempo real.</p>

@if (_products.Count == 0)
{
    <Skeleton/>
}
else
{
    <div class="min-w-full py-6">
        <div class="bg-gray-50 py-3 px-4 border-t border-x border-zinc-300 rounded-t-lg rounded-x-lg">
            <div class="relative max-w-xs">
                <label for="hs-table-search" class="sr-only">Pesquisar</label>

                <input type="text" name="hs-table-search" id="hs-table-search"
                       class="bg-white py-1.5 sm:py-2 px-3 ps-9 block w-full border border-zinc-300 shadow-2xs rounded-lg sm:text-sm text-black placeholder:text-zinc-600 focus:z-10 focus:border-zinc-400 focus:ring-zinc-400 disabled:opacity-50 disabled:pointer-events-none"
                       placeholder="Pesquisar...">

                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3">
                    <svg class="size-4 text-zinc-600" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"/>
                        <path d="m21 21-4.3-4.3"/>
                    </svg>
                </div>
            </div>
        </div>

        <div
            class="border border-zinc-300 rounded-x-lg rounded-b-lg max-h-[340px] divide-y divide-zinc-300 overflow-y-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-md [&::-webkit-scrollbar-track]:bg-zinc-200 [&::-webkit-scrollbar-thumb]:bg-zinc-400">
            <table class="min-w-full">
                <thead class="bg-gray-50 border-b border-zinc-300 sticky top-0 shrink-0 z-10">
                <tr>
                    <th scope="col"
                        class="px-6 py-3 text-start text-xs font-semibold text-muted-foreground-1 uppercase">
                        Vendedor
                    </th>

                    <th scope="col"
                        class="px-6 py-3 text-start text-xs font-semibold text-muted-foreground-1 uppercase">
                        E-mail
                    </th>

                    <th scope="col"
                        class="px-6 py-3 text-start text-xs font-semibold text-muted-foreground-1 uppercase">
                        Produto
                    </th>

                    <th scope="col"
                        class="px-6 py-3 text-center text-xs font-semibold text-muted-foreground-1 uppercase">
                        Quantidade
                    </th>
                    
                    <th scope="col"
                        class="px-6 py-3 text-start text-xs font-semibold text-muted-foreground-1 uppercase">
                        Preço
                    </th>

                    <th scope="col"
                        class="px-6 py-3 text-start text-xs font-semibold text-muted-foreground-1 uppercase">
                        Realizada em
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in _products)
                {
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-foreground">
                            @product.Collaborator.Name
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-foreground">
                            @product.Collaborator.Email
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-foreground">
                            @product.Name
                        </td>
                        
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-foreground">
                            @product.Quantity
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-foreground">
                            <span
                                class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-semibold tracking-wide bg-teal-100 text-teal-800">
                            @product.Price
                            </span>
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-foreground">
                            <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-semibold bg-yellow-100 text-yellow-800">
                            @product.CreatedAt
                            </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

@code
{
    private HubConnection? _connection;
    private readonly List<ProductViewModel> _products = [];

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7164/products")
            .WithAutomaticReconnect()
            .Build();

        _connection.On<ProductViewModel>(
            "ReceiveProduct",
            product =>
            {
                _products.Add(product);
                InvokeAsync(StateHasChanged);
            });

        await _connection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_connection is not null)
        {
            await _connection.DisposeAsync();
        }
    }
}